

$grid-columns:12;

.container{
    display: grid;
    grid-template-columns: repeat($grid-columns,1fr);
    column-gap: 20px;
    margin: 0 auto;
}

@for $i from 1 through $grid-columns {
  .column-#{$i} {
    grid-column: span $i;
  }
}

@for $i from 1 to 36 {
  .font-size-#{$i}{
    font-size: #{$i}px;
  }
}

@for $i from 1 to 50 {
  .mar-bot-#{$i}{
  margin-bottom: #{$i}px;  
  }
}
@for $i from 1 to 50 {
  .mar-top-#{$i}{
  margin-top: #{$i}px;  
  }
}
@for $i from 1 to 50 {
  .mar-left-#{$i}{
  margin-left: #{$i}px;  
  }
}
@for $i from 1 to 50 {
  .mar-right-#{$i}{
  margin-right: #{$i}px;  
  }
}